# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# IDE/editor specific files
.idea/
.vscode/
*.iml

# macOS system files
.DS_Store

# Log files
*.log

# Build directories
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.swp
*.bak

# Environment files
.env